/* <----- Variables -----> */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* <--- Colors ---> */
:root {
 --back: hsl(212, 45%, 89%);
 --text: #1f314f;
 --subtext: hsl(220, 15%, 55%);
 --main-contain: hsl(0, 0%, 100%);
 --Dark-blue: hsl(218, 44%, 22%);
 --text-size: 15px;
 --font: "Outfit", sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font);
    width: 100vw;
    height: auto;
    background-color: var(--back);
    
}
.container{
    width: 320px;
    height: 520px;
    background-color: var(--main-contain);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 120px auto;
}
.qr-code{
    width: 90%;
    margin: 15px auto;
    border-radius: 12px;
}
/* Nesting for reducing lines code */
.text{
    padding: 0 25px;
    text-align: center;
    font-weight: 400;
    h2{
        color: var(--text);
        margin: 10px 0px 20px 0px;
        font-weight: 700;
    }
    p{
        color: var(--subtext);
    }
}

/* Footer, it's outside the project*/
.attribution { 
    font-size: 18px;
    text-align: center;
    a {
    color: hsl(228, 45%, 44%);
}
}